/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
}
body {
  color: #000;
  text-align: center;
  
}

hr {
  margin:0;
  margin-bottom: 5px;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}
.cover-heading {
  margin-top: 40px;
  margin-bottom: 40px;
}
.form-group {
  margin-top: 20px;
  margin-bottom: 20px;
}
.form-group label {
  text-transform: uppercase;
  padding-right: 15px;
}
.form-group input[type=text], .form-group input[type=password] {
  width: 250px;
}
.form-group .btn {
  margin-left: 10px;
  margin-right: 10px;
}

.msg-title {
  font-size: 30px;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Cover
 */

.cover {
  padding: 20px 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}

.form-control {
  display: inline-block;
  width: auto;
}

.msg-cnt {
  border-radius: 30px;
  display: inline-block;
  padding: 5px 11px;
  color: #fff;
  background: #006600;
  visibility: hidden;
}

.message-container {
  text-align: left;
}

.message-container .message-header {
  margin-bottom: 20px;
}

.message-container .msg-sender, .message-container .reply-sender{
  font-weight: bold;
  font-size: 20px;
  color: #006666;
}

.message-container .msg-content, .message-container .reply-content {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.msg-sender .msg-time, .reply-sender .reply-time {
  font-weight: normal;
  font-size: 12px;
  color: #f86d54;
}

.message-body {
  height: 550px;
  margin-bottom: 100px;
}

.message-body .message {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  height: auto;
  cursor: pointer;
}


.message-body .message:last-child {
  border-bottom: none;
  box-shadow: none;
}

.message.unread {
  background: rgba(0,0,0, 0.3);
  border-radius: 5px;
}


.new-message-input{
  width: 100%;
}

.reply-message-input {
  width: 70%;
}

.reply-message-wrapper, .forward-message-wrapper {
  display:none;
  margin-top: 20px;
  z-index: 999;
}



.modal {
  color: black;
}

.contact-list {
  display: none;
  background: white;
  border-radius: 5px;
  position: absolute;
  color: #000;
  left: -40px;
  top: -230px;
  padding:10px;
  width: 150px;
  line-height: 25px;
  max-height: 210px;
  background: #ddd;
}

.contact-list:before {
  content: ' ';
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 10px 10px 0px 10px;
  border-color: #ddd transparent transparent transparent;
  position: absolute;
  left: 65px;
  bottom: -10px;
  z-index: 2;
}

.forward-contact-list {
  display: none;
  background: white;
  border-radius: 5px;
  position: absolute;
  color: #000;
  left: 340px;
  top: 50px;
  padding:10px;
  width: 150px;
  line-height: 25px;
  text-align: left;
  background: #ddd;
}

.forward-contact-list:before {
  content: ' ';
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 0px 10px 10px 10px;
  border-color: transparent transparent #ddd transparent;
  position: absolute;
  left: 65px;
  top: -10px;
  z-index: 2;
}

.forward-contact-list-wrapper, .contact-list-wrapper {
  position: relative;
}

.push-notification {
  cursor: pointer;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: top;
    padding-top: 50px;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}